<div class="withe-area">
<img src="/images/beer.png">
</div>
<div>
<a href="/beers">
    <button>Check the Beers!</button>
</a>
<br>
<a href="/random-beer">
    <button>Check a random Beer!</button>
</a>

</div>
